{"filter":false,"title":"_messages.html.slim","tooltip":"/app/views/layouts/_messages.html.slim","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"2a8ee26991e58d49398b23392e809b09dbe05896","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1454860255457}