{"filter":false,"title":"application.html.slim","tooltip":"/app/views/layouts/application.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":91},"end":{"row":6,"column":94},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1455152556367,"hash":"0d9d572db9e611b9eb5d7361ed59ad25c2061b5d"}