{"filter":false,"title":"edit.html.slim","tooltip":"/app/views/agents/edit.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":84,"mode":"ace/mode/text"}},"timestamp":1455755617790,"hash":"1f67788fed00ccfbe91633822074472ca9119845"}