{"filter":false,"title":"new.html.slim","tooltip":"/app/views/agents/new.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1455755597065,"hash":"344fe9a19af07464e63eab48868c2abf4de464e6"}