<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <br><br>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
          <div style="width:100%;overflow:hidden;height:400px;max-width:100%;">
              <div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;">
                  <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=2202+Boston+Street,+Baltimore,+MD,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                  </div><a class="google-map-enabler" href="https://www.bootstrapskins.com/" id="get-data-for-map">premium bootstrap themes</a><style>#embedded-map-canvas .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.bootstrapskins.com/google-maps-authorization.js?id=4fbc6147-2fa8-e82a-1cc4-1f4463f48ddb&c=google-map-enabler&u=1455561076" defer="defer" async="async"></script>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>LUX Real Estate Title</h3>
            <p>
                2202 Boston St<br>Suite 200<br>Baltimore, MD 21231<br>
            </p>
            <p><i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr>: (443) 835-4931</p>
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:admin@luxretitle.com">admin@luxretitle.com</a>
            </p>
            <p><i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 6:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li><a href="https://www.facebook.com/LUX-Real-Estate-Title-1563980610529156/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
