<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Terms of Use</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
<div class="row">

By visiting luxretitle.com, you are subject to and accept these Termsand Conditions of Use, which may be updated by us from time to time without notice to you.You can review the most current version at any time at terms.Please also review our corporate privacy policy, which also governsyour visit to luxretitle.com, to fully understand our practices. Collectively,these documents constitute an "Agreement" between you and luxretitle.comregarding your use of the luxretitle.com website.

<h4>Purpose of Our Website</h4>

The purpose of luxretitle.com is to allow our users to gain access to our real estate professionals and data. To gain access to this network of professionals, you must submit certain personal information. This information will be used by luxretitle.com to assist you in the real estate transaction process. To assure the value of the services to be provided to you, you agree that you will provide accurate and complete information. Once you have been contacted by one of our real estate professionals, any agreement you enter into with such third party will only be between you and such third party.

<h4>Copyright & Trademarks</h4>

© 2016 luxretitle.com. All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, and data compilations, are the exclusive properties of luxretitle.com/Local MLS/Other affliated parties and are all subject to copyright and other intellectual property protection laws. luxretitle.com and all other trademarks and service marks indicated on our site are the properties of their respective owners. These objects may not be copied for commercial use or distribution, nor may these objects be modified or reposted to other sites. Framing of any content is strictly prohibited.

<h4>License</h4>

luxretitle.com grants you a limited license to access and make personal use of this site and not to download or modify it, or any portion of it, except with the express written consent of luxretitle.com. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited or otherwise exploited for any commercial purpose without the express written consent of luxretitle.com.

<h4>Professional Real Estate Advisors</h4>

Financial decisions, including decisions about real estate, are serious decisions that should not be taken lightly. luxretitle.com, its agents, employees, officers, subsidiaries, members or affiliates do not, via this website or otherwise, encourage you to make any particular decision on issues concerning real estate without first seeking professional advice from your attorney or accountant. The material contained on this site is offered as information only and not as financial, accounting, legal or other professional advice. Users of this site should contact their own professional advisors for such advice.

You agree that you must evaluate and bear all risks associated with your dealings with any real estate investor or investment company or real estate broker or brokerage company that is linked to, included in, or referred to by this site. You agree and understand that your choice to deal with any member or affiliate of this site is done at your discretion and risk, and you will be solely responsible for such dealings. In no event shall luxretitle.com be liable for any direct, indirect, incidental, punitive or consequential damages of any kind whatsoever with respect to your dealings with investors, members or affiliates of this site.

On occasion, information on our site, such as home prices, may be outdated or otherwise incorrect. We can only provide information with which we have been provided and accept no responsibility for any information that is out of date or otherwise invalid.

<h4>Obligations of Home Sellers Registered With luxretitle.com</h4>

By completing the home information form on this site, you agree that:

You are of legal age and are otherwise capable of forming a legally binding contract;
You are interested in buying or selling property;
You do not have an exclusive contractual or other arrangement with any real estate professional; and
You agree to be contacted by e-mail or other means by luxretitle.com or a member or affiliate of luxretitle.com regarding a property.
<h4>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h4>

THIS SITE IS PROVIDED BY luxretitle.com ON AN "AS IS" AND "AS AVAILABLE" BASIS.luxretitle.com MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, AS TO THEOPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE.YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.

TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, luxretitle.com DISCLAIMS ALL WARRANTIES,EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITYAND FITNESS FOR A PARTICULAR PURPOSE. luxretitle.com DOES NOT WARRANT THAT THIS SITE,ITS SERVERS OR E-MAIL SENT FROM THIS SITE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.luxretitle.com WILL NOT BE LIABILE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THISSITE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND CONSEQUENTIAL DAMAGES.

<h4>Governing Law</h4>

By visiting luxretitle.com, you agree that the laws of the State of MD,without regard to principles of conflict of laws, will govern these Terms and Conditions of Useand/or any dispute of any sort that might arise between you and luxretitle.com or itsaffiliates.

<h4>Links to Other Sites</h4>

From time to time, luxretitle.com may include on its site third party services (such as a moving company or home improvement center). luxretitle.com may post information about, or links to, these companies as a service to its users who may be interested in such services. luxretitle.com is not responsible for the contents of any link to or from this site. We do not endorse the policies or practices of, or opinions expressed on, other websites linked to or from this site; nor do we make any representations or warranties with respect to the accuracy of any items or claims contained in such other websites. Any links are provided for you only as a convenience, and the inclusion of any link does not imply endorsement by us of the services, the site, its contents or its sponsoring organization.

<h4>Disputes</h4>

Any dispute relating in any way to your use of the luxretitle.com site shall be submittedto confidential and binding arbitration in Ocean City,MD, except to the extent that you havein any manner violated or threatened to violate luxretitle.com's intellectual property rights,luxretitle.com may seek injunctive or other appropriate relief in any state or federalcourt in the State ofMD, and you consent to exclusive jurisdiction and venue in such courts.Arbitration under this Agreement shall be conducted under the commercial rules then prevailingof the American Arbitration Association. The arbitrator's award shall be binding and may beentered as a judgment in any court of competent jurisdiction.

<h4>Other Policies, Modification and Severability</h4>

Please review our other policies posted on this site, including our Privacy Policy.These policies also govern your visit to luxretitle.com. We reserve the right to make any changes to our site, policies, and these Terms and Conditions of Use at any time. If any of these provisions shall be deemed invalid, void or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity or enforceability of any remaining provisions.

<h4>Acceptance of Terms of Use</h4>

By your use of this site, you agree that you have read, understand and agree to abide by this Agreement and the documents it incorporates by reference; you intend to form a legally binding contract by utilizing or viewing this site. A printout of this Agreement and the documents it incorporates by reference will constitutea "writing" under any applicable law or regulation.

WHEN YOU SUBMIT AN ONLINE APPLICATION FOR OUR SERVICES, YOU ARE THEREBY PROVIDING EXPRESS WRITTEN CONSENT TO RECEIVE AUTOMATED MESSAGES CONTAINING REAL ESTATE INFORMATION AND ADVERTISEMENTS COMMUNICATED VIA EMAIL, LANDLINE PHONE, CELL PHONE, TEXT MESSAGE, AND FAX ABOUT THOSE SERVICES PROVIDED BY COMMISSIONS, INC. AND ITS AFFILIATES. 
Commissions, Inc. and its affiliates shall give you the opportunity to opt-out of all such communications. Clear directions for opting out of receiving automated communications shall accompany all messages Commissions, Inc. and/or its affiliates send you.